<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>user</title>
  <link rel="stylesheet" type="text/css" href="assets/css/user.css"/>
</head>
<body>
  user page ...
  <br />


  id: <%= id %>
  <br />
  <%# 注释 %>





  <img src="assets/img/f1.jpg" />

  <script src="assets/js/user.js"></script>
</body>
</html>